@media (max-width: 768px) {
    .container{
        max-width: 100%;
    }

    header{
        max-width: 100%;
    }

    .header-links{
        display: none;
    }

    .sub-menu-btn{
        display: block;
    }

    .main-info h1{
        font-size: 2rem;
    }

    .main-info h2{
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .wellcome-btns{
        flex-direction: column;
        width: 100%;
    }

    .wellcome-btns a{
        text-align: center;
    }

    .merits{
        flex-direction: column;
        gap: 2rem;
    }

    .merit svg{
        width: 2rem;
        height: 2rem;
    }

    /* НАШИ УСЛУГИ */

    .logo-name h2{
        font-size: 5vh;
        text-align: center;
    }

    .sub-service-info{
        display: flex;
        flex-direction: column;
    }

    .works-gallery{
        gap: 1vh;
    }

    .line-photos{
        gap: 1vh;
    }

    .photos{
        height: 20vh;
    }

    .text-block{
        background: linear-gradient(to top, black, rgba(0, 0, 0, .01));
        border-radius: 3vh;
        height: 35vh;
        height: 10vh;
        padding: 1.5vh;
        font-size: 10px;

        display: flex;
        align-items: end;
        justify-content: start;
    }

    .gallery{
        width: 95%;
        height: 50%;
    }

    .main-gal{
        gap: 1%;
    }

    .photo{
        width: 49.5%;
    }

    /* РАСЦЕНКИ НА РАБОТЫ */

    .price-block{
        width: 100%;
    }

    .price-title h2{
        font-size: 2.5vh;
    }

    .main-contacts-block{
        flex-direction: column;
    }

    .contacts-info{
        width: 100%;
    }

    .response-window{
        width: 90%;
        padding: 5%;
    }

    .response-window h3{
        font-size: 3vh;
    }

    /* БОТТОМ */

    .main-bottom{
        flex-direction: column;
        gap: 5vh;
    }

    .bottom-title{
        max-width: 75%;
    }

    .bot-block ul li{
        line-height: 4vh;
    }

    .sub-bottom{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3vh;
    }
}