.dark {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;

    display: none;
}

.dark:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    border: 1px solid oklch(0.646 0.222 41.116);
    background-color: white;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-gal-block{
    color: rgb(53, 53, 53);
    padding: 0 0 0 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.header-gal-block a {
    background-color: darkgrey;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: .5s;
}

.header-gal-block a:hover{
    background-color: rgb(119, 119, 119);
}

.header-gal-block a:focus .dark{
    display: none;
}

.main-gal{
    /* padding: 1vh 0; */
    background-color: gray;
    overflow: scroll;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5vh;
    
}

.photo{

    background-image: url("images/electrical-installation.jpg");
    width: 33%;
    height: 70%;
    overflow: hidden;
    background-size: cover;
    border-radius: 5px;
}
